body {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
.oculto{
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #13505b;
    color: #585555;
    font-size: 1.2em;
    box-sizing: border-box;
    max-height: 60px;
    
  }

  .logo {
    padding: 15px 6px;
    
    box-sizing: border-box;
  }
  
  .logo:hover {
    transition: ease 0.5s;
    border-radius: 5%;
    background: chocolate;
  }

  .links-nav {
    display: flex;
    box-sizing: border-box;
    max-height: 60px;
    flex-basis:60%;
    justify-content: space-evenly;
    align-items: center;
  }

.list-nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  box-sizing: border-box;
  max-height: 60px;
  flex-basis: 60%;
  flex-wrap: nowrap;
}

nav a {
  text-decoration: none;
  color: #fefefe;
  padding: 15px 10px;
}

.item-link {
  padding: 15px 5px;
  box-sizing: border-box;
}

.item-link:hover {
    transition: ease 0.5s;
    border-radius: 5%;
    background: chocolate;
  
}

.menu-navbar {
  padding: 15px 5px;
  
}

.menu-navbar:hover {
    transition: ease 0.2s;
    border-radius: 15%;
    border: 0.5px solid #ffffff;
}

.menu-icon{
  display: none;
}

header {
    
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5em;
  color: #13505b;
}



.exchange-content {
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
}

.selection-area{
    display: flex;
    padding: 15px 5px;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    margin-top: 10px;
    
}

.select-base-container{
    display: inline-block;
    
}

.base-selection {
  margin: 0 auto;
  padding: 5px;
}

.base-selection-title{
    display: inline-block;
    padding: 10px;
}


#base-select{
    padding: 2%;
    background: #13505b;
    color: #fefefe;
    font-size: 18px;
    
    border: none;
}

#base-select:hover{
    cursor: pointer;
    border: teal;
}



.date-selection{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    align-items: center;
}

.date-selection-title{
    padding:0 10px;
}

.select-date-container{
    padding: 0 10px;
}

#date-selection{
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

#date-selection:focus{
    box-shadow: none;
}

#date-selection:hover{
    cursor: pointer;
}


#button-base {
  
  
  color: #fefefe;
  background-color: #13505b;
  vertical-align: middle;
  
  
  

  
    display: inline-block;
    border-radius: 4px;
    
    border: none;
    
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px auto 20px auto;
  }
  
  #button-base span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #button-base span:after {
      color: #fefefe;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #button-base:hover span {
    padding-right: 25px;
  }
  
  #button-base:hover span:after {
    opacity: 1;
    right: 0;
  }


  .sub-title {
    opacity: 0.8;
    color: #13505b;
    margin: 0 auto;
    padding: 20px;
  }


.table-exchange,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}
tr:hover {
  background: #afafaf;
}

.table-exchange {
  margin-bottom: 30px;
  width: 60%;
  margin: 0 auto;
}
.table-exchange th {
  background: #d7d9ce;
  height: 45px;
  font-weight: bold;
  font-size: 1.1em;
}

.navbar-foot {
  box-sizing: border-box;
  max-height: 60px;
}

.nav-foot-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-basis: 50%;
  font-size: 1rem;
  box-sizing: border-box;
  max-height: 40px;
}

.item-nav-foot{
    padding: 15px 5px;
}

.item-nav-foot:hover{
    background: chocolate;
    transition: ease 0.3;
    border-radius: 5%;
}

.error-date{
    
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 0px;
    padding: 12px;
    max-width: 250px;
}

.close-error-date{
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

.close-error-date:hover{
  transition: ease 0.8s;
  border: 0.6px solid  #D8000C;
  background: #FFD2D2;
}

/* ------------------------------------------------media queries --------------------------------------- */


@media (max-width:1000px){
    .selection-area{
        display:flex;
        flex-flow: column;
    }
    .nav-foot-list{
        justify-content: space-between;
        flex-basis: auto;
    }
}

@media (max-width: 700px) {

    nav{
        max-height: 500px;
    }
  .nav-foot-list {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: auto;
    max-height: 500px;
    flex-basis: unset;
  }

   
}

@media(max-width: 500px){
    nav{
        flex-flow: column;
        max-height: 500px;
        justify-content: center;
        height: auto;
        padding: 15px;
        
    }

    .nav-header{
      box-sizing: border-box;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-around;
    }
    .links-nav{
        flex-flow: column;
        flex-basis: auto;
        max-height: none;
        display: none;
    }

    .menu-icon, .arrow-icon{
      display: block;
      color: #fafafa;
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }

    
    .menu-icon:hover, .arrow-icon:hover{
      transition: ease 0.5s;
      border: #ffffff solid 1px;
    }
    .nav-foot-list{
        display: flex;
        flex-flow: column;
    }
    .list-nav-links{
      display:flex;
      flex-direction: column;
      margin-right: 45px;
    }
    .title{
      margin-top: 20px;
      font-size: 25px;
    }
    .selection-area{
      flex-direction: column;
      justify-content: center;
    }
    .base-selection-title{
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .select-base-container{
      display: block;
      width: 50%;
      margin: 5px auto;
      text-align: center;
    }
    .date-selection{
      flex-direction: column;
    }
    .table-exchange{
      width: 80%;
      margin-bottom: 20px;
      
    }


}

